
/* tipografia: raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "raleway", sans-serif;
}

/* HEADER */

header {
    background-color: black;
    color: white;
    padding-top: 1%;
}

header a {
    text-decoration: none;
}

header i:hover{
    color: #90bfc6;
}

header a:hover {
    color: #90bfc6;
}

.encabezado-fueguitos-12-pagos {
    width: 100%;
    font-size: 0.9vw;
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    color: white;
}

.encabezado-fueguitos-12-pagos i, p {
    padding: 0% 1%;
}

#logo {
    width: 8%;
    padding: 0%;
    position: relative;
    left: 16.5vw;
}

#posicionamiento-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconos-blancos {
    color: white;
    font-size: 1.2vw;
    position: relative;
    right: 200%;
}

#icono-login {
    position: relative;
    left: 24vw;
    color: white;
    font-size: 1.2vw;
}

#posicionamiento-header form,
section {
    display: inline;
}

#lupita {
    background-color: black;
    color: white;
    border: 0;
    display: block;
    position: relative;
    left: 200%;
    font-size: 1.2vw;
    cursor: pointer;
}

header nav ul {
    display: none;
    color: white;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 1%;
    font-size: 0.8vw;
    white-space: nowrap;
    padding-bottom: 2%;
    text-decoration: none;
    margin-right: 4%;
}
header nav .menuHamburguesa i{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 70%; 
    }

header nav ul a {
    color: white;
}

header nav ul li {
    padding: 0% 2%;
    margin-right: 4%;
}

/* FOOTER */

footer button {
    background-color: black;
    color: white;
    border: solid #e3e4e5 1px;
    transition: all 0.6s;
}

footer a {
    transition: all 0.6s;
}

footer a:hover {
    color: #5a8284;
}

footer button:hover {
    background-color: #5a8284;
    color: black;
    border: solid #5a8284 1px;
}

main {
    background-color: white;
}

footer {
    font-size: 0.8vw;
    line-height: 200%;
}

#formulario-footer-flex {
    display: flex;
    flex-direction: column;
}

footer div a,
div,
section {
    padding: 1%;
}

#fromulario-footer-flex-column {
    display: flex;
    flex-direction: column;
    width: 24vw;
}

#fromulario-footer-flex-column input,
button {
    font-size: 0.8vw;
    margin-top: 2%;
    padding: 1%;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: relative;
}

footer button {
    display: block;
    cursor: pointer;
}

footer a {
    color: white;
}
#find-us{
    width: 25%;
}
/* --------------------------MOBILE FIRST-------------------------- */

/* -----------------MAIN----------------- */

main{
    margin: 5px;
}
main button{
font-size: 1.2vw;
background-color: black;
color: white;
border: solid black 1px;
font-weight: 700;
cursor: pointer;
margin-left: 4%;

}


main button a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.fotoPrincipal{
    max-width: 100vw;
}
.fotoPrincipal img{
    max-width: 100%;
    margin: 2% 1%;
}
.fotoInf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fotoInf img{
    width: 40vw;
    height: auto;
    cursor: pointer;
}
main h2{
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.unidades{
    display: flex;
    flex-wrap: wrap;
    justify-content:stretch;
    align-items: center;
}

/* .unidades div .stock form, .carrito form{
    font-size: 5vw;
} */

.detalle .stock{

    padding: 5px;
}
.detalle .stock select{
    padding: 10px;
    border-radius: 10px;
    font-size: 1vw;
}

 

.caracteristicas{
    padding-top: 30px;
    font-size: 5vw;
}
.caracteristicas p{
    padding-top: 15px;
}

   .precio, .descripcion{
    margin: 10px 0px;
   }
   .detalle .precio{
    padding: 5px;
    font-size: 4vw;
}

.stock, .carrito{
    margin: 10px 0px;
}

.detalle .carrito{
    padding: 5px;
} 

.descripcion800px{
    padding-top: 2%;
}

.descripcion800px h1, h4{
    margin: 3% 0;
    font-size: 4vw;
    line-height: 100%;
} 
.descripcion800px  p{
    margin: 3% 0;
    font-size: 2vw;
}


.nombre400px{
    font-size: 8vw;
}

#cantidad{
    background-color: black;
    color: white;
    cursor: pointer;
}


/* ----------------------------- */
/* SECCION INTERES */
main article {
    transition: all 0.8s;
    background-color: black;
    width: 40%;
    margin-bottom: 4%;
   text-align: center; 
   color: white;
   cursor: pointer;
}
main article:hover {
    background-color: rgba(0, 0, 0);
    transform: rotateY(10deg);
}

 main section .articulosInteres {
     position: relative;
     font-size: 1vh;
 }
.masArticulos {
    text-align: center;
    color: black;
    padding-top: 25px;
    font-size: 3vw;
 }
 #linea-refleja-tu-estilo {
    border: none;
    height: 0.2vw;
    color: black;
    background-color: black;
    margin: 0% 20%;
    margin-bottom: 1%;
}
 main article img {
    width: 100%;
    height: auto;
}
main article h2 {
    font-size: 1vw;
}

main article p {
    font-weight: 600;
    font-size: 1vw;
}

main i {
    font-size: 1vw;
    display: block;
    position: relative;
    padding: 1% 1%;
}
.articulosInteres {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2% 0%;
}
.padding-articulos {
    padding: 20% 0%;
}
    

/* Media querys */
 @media(min-width: 460px){
    main article{
        width: 28%;
       }
       .encabezado-fueguitos-12-pagos {
        width: 100%;
        font-size: 0.9vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1%;
        color: white;
    }
    header {
        padding-top: 0;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
        color: white;
        list-style: none;
        justify-content: space-evenly;
        margin-top: 1%;
        font-size: 0.8vw;
        white-space: nowrap;
        padding-bottom: 2%;
        text-decoration: none;
        margin-right: 4%;
    }
    header nav .menuHamburguesa i{
        display: none;
        }
      
} 

/* Desktop 800px + */

@media(min-width:800px){
    
   .fotoPrincipal{
    max-width: 70%;
    display: flex;
    flex-direction: column;
   }
    .fotoPrincipal img{
        width: 100%;
        margin: 10px;
        
    }
    .fotoInf{
        max-width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-left: 70px;
    }
        .fotoInf img{
            width: 45%;
            cursor: pointer;
        }
        .fotoInf img:hover{
            transition: 0.8s;
            scale: 1.3;
        }

        .producto800px {
          max-width: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      .nombre400px{
        display: none;
    }
    .containerMain800px{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

     .descripcion800px{
        display: block;
        font-size: 15px;
        line-height: 50px;
        text-align: center;
        width: 40%;
        padding-right: 30px;
        margin-right: 7%;
    } 

    .descripcion800px h4{
        padding: 10% 0px;
        font-size: 20px;
    }
    .descripcion800px div{
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .detalle{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
     .detalle .precio{
        color: black;
        font-size: 2vw;
    } 
    .detalle .stock{
        align-self: center;
    }
    .detalle .carrito{
        padding-right: 130px;
    }
    .detalle .carrito button{
        border-radius: 5px;
        padding: 5px;
    } 
.caracteristicas{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 1.8vw;

}


main article{
    width: 15%;
   }


}

/* DESKTOP */
@media(min-width:1024px){
}



    


    
        
    