/* tipografia: raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "raleway", sans-serif;
}

/* HEADER */

header {
    background-color: black;
    color: white;
}

header a {
    text-decoration: none;
}

header i:hover,
a:hover {
    color: #90bfc6;
}

.encabezado-fueguitos-12-pagos {
    width: 100%;
    font-size: 0.9vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    color: white;
}

.encabezado-fueguitos-12-pagos i, p {
    padding: 0% 1%;
}

#logo {
    width: 8%;
    padding: 0%;
    position: relative;
    left: 15vw;
}

#posicionamiento-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconos-blancos {
    color: white;
    font-size: 1.2vw;
    position: relative;
    right: 200%;
}

#icono-login {
    position: relative;
    left: 24vw;
    color: white;
    font-size: 1.2vw;
}

#posicionamiento-header form,
section {
    display: inline;
}

#lupita {
    background-color: black;
    color: white;
    border: 0;
    display: block;
    position: relative;
    left: 200%;
    font-size: 1.2vw;
    cursor: pointer;
}

header nav ul {
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 1%;
    font-size: 0.8vw;
    white-space: nowrap;
    padding-bottom: 2%;
    text-decoration: none;
    margin-right: 4%;
}

header nav ul a {
    color: white;
}

header nav ul li {
    padding: 0% 2%;
    margin-right: 4%;
}

/* FOOTER */

footer button {
    background-color: black;
    color: white;
    border: solid #e3e4e5 1px;
    transition: all 0.6s;
}

footer a {
    transition: all 0.6s;
}

footer a:hover {
    color: #5a8284;
}

footer button:hover {
    background-color: #5a8284;
    color: black;
    border: solid #5a8284 1px;
}

main {
    background-color: white;
}

footer {
    font-size: 0.8vw;
    line-height: 200%;
}

#formulario-footer-flex {
    display: flex;
    flex-direction: column;
}

footer div a,
div,
section {
    padding: 1%;
}

#fromulario-footer-flex-column {
    display: flex;
    flex-direction: column;
    width: 24vw;
}

#fromulario-footer-flex-column input,
button {
    font-size: 0.8vw;
    margin-top: 2%;
    padding: 1%;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: relative;
}

footer button {
    display: block;
    cursor: pointer;
}

footer a {
    color: white;
}
#find-us{
    width: 25%;
}


/* --------------------------MOBILE FIRST-------------------------- */
/* Estilo al header para comenzar */
@media (min-width:360px){

/* ESTILO AL MAIN Y SECCIONES */


.titulo{ 
    text-align: center;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.barraCarrito{  
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    background-color:black ;
     border: 2px solid black;   
}

   

.itemCarro{
    color: white;
    background-color: black;
    padding: 10px 10px;
}


.producto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
}
.producto-container  li img{
    width: 40px;
}

.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 15px;
}
.cantidad , .precio, .subtotal{
    padding: 5px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.selector-cantidad{
    border-radius: 5px;
}
.subtotal i{
    padding-left: 3px;
}
.total-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid black;;
}
.boton-compra{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}
 
.boton-compra button{
    margin-right: 20px;
    padding: 5px;
    background-color: white;
    color: black;
    border: solid black 1px;
    transition: all 0.6s;
    border-radius: 9px;
    font-weight: 700;
}
.boton-compra button:hover {
    background-color: black;
    color: white;
}
}
/* ----------------------- TABLET----------------------- */

@media (min-width: 460px) { 

    .encabezado-fueguitos-12-pagos {
        display: none;
    }

    .producto-container  li img{
        width: 60px;
    }
    
    .producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        font-size: 18px;
    }
    .cantidad , .precio, .subtotal{
        padding: 5px;
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .total-carrito{
        font-size: 20px;
    }
    .seguir-comprando{
        margin-left: 40px;
    }
    .totalCompra{
        margin-right: 10%;
    }
    .boton-compra button{
        font-size: 22px;
    }

}

/* --------------DESKTOP---------------- */

@media(min-width:800px){
    
}
