
/* --------------------------MOBILE FIRST-------------------------- */
/* Estilo al header para comenzar */
@media (min-width:360px){

/* ESTILO AL MAIN Y SECCIONES */

.titulo{ 
    text-align: center;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.barraCarrito{  
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    background-color:rgb(78, 77, 77) ;
     border: 2px solid black;   
}

   

.itemCarro{
    color: white;
    background-color: rgb(78, 77, 77);
    padding: 10px 10px;
}


.producto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
}
.producto-container  li img{
    width: 40px;
}

.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 15px;
}
.cantidad , .precio, .subtotal{
    padding: 5px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.selector-cantidad{
    border-radius: 5px;
}
.subtotal i{
    padding-left: 3px;
}
.total-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid rgb(78, 77, 77);;
}
.boton-compra{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}
 
.boton-compra button{
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(78, 77, 77);
}
}
/* -----------------------QUERYS TABLET----------------------- */

@media (min-width: 768px) { 
    .producto-container  li img{
        width: 60px;
    }
    
    .producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        font-size: 18px;
    }
    .cantidad , .precio, .subtotal{
        padding: 5px;
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .total-carrito{
        font-size: 20px;
    }
    .seguir-comprando{
        margin-left: 40px;
    }
    .totalCompra{
        margin-right: 10%;
    }
    .boton-compra button{
        font-size: 22px;
    }

}

/* QUERY 1024 PARA  DETALLE */

@media(min-width:1024px){
    
}