<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Suquia Home</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <section class="encabezado-fueguitos-12-pagos">
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 12 pagos sin interés con Tarjeta de crédito</p>
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 20% descuento con Transferencia bancaria</p>
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 20% descuento con Transferencia bancaria</p>
            <i class="fas fa-fire-alt"></i>
        </section>
        <div id="posicionamiento-header">
            <form action="/home" method="get">
                <button id="lupita"><i class="fas fa-search"></i></button>
            </form>
            <section id="logo">
                <a href="/home"><img src="/img/logo-SuquiaHome.svg.svg" alt="logo-suquia-home"></a>
            </section>
            <div>
                <a href="/login" id="icono-login"><i class="far fa-user"></i></a>
            </div>
            <div>
                <a href="/productCart" class="iconos-blancos"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
        <nav class="barra-menu">
            <ul>
                <a href="/home">
                    <li>HOME</li>
                </a>
                <a href="/productDetail">
                    <li>PRODUCT DETAIL</li>
                </a>
                <a href="/productCart">
                    <li>PRODUCT CART</li>
                </a>
                <a href="/register">
                    <li>REGISTER</li>
                </a>
                <a href="/login">
                    <li>LOGIN</li>
                </a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="mesas-background-imagen">
            <h1 class="">MESAS</h1>
        </div>
        <div>
            <h1 class="">SILLAS Y SILLONES</h1>
        </div>
        <section>
            <h1>HOME DECOR</h1>
        </section>
        <section>
            <h1>MUEBLES</h1>
        </section>
        <section>
            <h1>CERÁMICA Y MARMOL</h1>
        </section>
        <h1 id="refleja-tu-estilo">REFLEJA TU ESTILO</h1>
        <hr id="linea-refleja-tu-estilo">
        <section class="flex-articulos">
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA NEOLITH BETON.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Neolith Beton + Base Hierro</h2>
                <p>2,40mx1,10m</p>
                <p>$900.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA NEOLITH NERO.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Neolith Nero + Base Madera ¨Cuadros¨</h2>
                <p>2,50mx1,120m</p>
                <p>$975.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\DRESSOIRE GRANITO NEGRO BRASIL LEATHER.jpg"
                    alt="mesa neolith beton">
                <h2>Dressoire Granito Negro Brasil Leather + Base Madera</h2>
                <p>1,30mx0,50m</p>
                <p>$320.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\DRESSOIRE MARMOL NEGRO MARQUINA.jpg"
                    alt="mesa neolith beton">
                <h2>Dressoire Marmol Negro Marquina + Base Hierro </h2>
                <p>2mx0,60m</p>
                <p>$400.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA AUXILIAR MARMOL CARRARA.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Auxiliar Marmol Carrara + Base Hierro Dorado </h2>
                <p>0,70mx0,40m</p>
                <p>$240.000</p>
                <i class="fas fa-eye"></i>
            </article>
        </section>
        <section class="flex-articulos" class="padding-articulos">
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA AUXILIAR MARMOL CARRARA.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Auxiliar Marmol Carrara + Base Hierro Dorado </h2>
                <p>0,70mx0,40m</p>
                <p>$240.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\COMBO SILLAS DELUXE.JPG" alt="mesa neolith beton">
                <h2>Sillas Deluxe</h2>
                <p>x6 Unidades</p>
                <p>$90,000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\SILLA MATERA BLANCA.jpg" alt="mesa neolith beton">
                <h2>Silla Matera Blanca</h2>
                <p>$45,000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\SILLA MATERA NEGRA.jpg" alt="mesa neolith beton">
                <h2>Silla Matera Negra</h2>
                <p>$45,000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\SILLA MATERA NEGRA.jpg" alt="mesa neolith beton">
                <h2>Silla Matera Negra</h2>
                <p>$45,000</p>
                <i class="fas fa-eye"></i>
            </article>
        </section>
        <form action="/productDetail" method="get" id="mostrar-todos-los-productos" class="mostrar-todos-los-productos">
            <button type="submit" form="mostrar-todos-los-productos">VER TODOS LOS PRODUCTOS</button>
        </form>
    </main>
    <footer>
        <div class="footer-flex">
            <a href="#">
                <h3>PREGUNTAS FRECUENTES</h3>
            </a>
            <a href="#">
                <h3>SOBRE NOSOTROS</h3>
            </a>
            <a href="#">
                <h3>CÓMO COMPRAR</h3>
            </a>
            <div>
                <h3>FIND US</h3>
                <hr id="linea-findus">
                <p>DIRECCIÓN: Recta Martinolli 8568, Córdoba</p>
                <p>HORARIOS: Lunes a Viernes de 9 a 13 hs y de 15 a 19 hs. Sábados de 9 a 13 hs</p>
                <p>CONTACTO: info@suquiahome.com</p>
            </div>
            <section id="formulario-footer-flex">
                <h3> NEWSLETTER</h3>
                <P>DÉJANOS TU EMAIL PARA RECIBIR ALERTAS EXCLUSIVAS Y NOVEDADES</P>
                <form action="" method="post" id="fromulario-footer-flex-column">
                    <input type="text" name="nombre" title="Inserte su nombre y apellido"
                        placeholder="Nombre y Apellido" required>
                    <input type="email" name="E-mail" title="Inserte su e-mail" placeholder="E-mail" required>
                    <button type="submit">SUSCRIBIRSE</button>
                </form>
            </section>
        </div>
    </footer>
</body>

</html>