
<!-- head -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Suquia Home</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

<!-- header -->

<%- include('partials/header') %>

    <main>
        <div class="div-background-imagen">
            <div>
                <img src="/img/portada/mesas3.jpeg" alt="mesa neolith negro marquina + sillas">
                <h1><a>MESAS</a></h1>
            </div>
        </div>
        <div class="div-background-imagen" id="sillas-y-sillones-margin">
            <div>
                <img src="/img/portada/sillas-y.sillones.jpg" alt="mesa neolith negro marquina + sillas">
                <h1 id="sillas-y-sillones-h1"><a>SILLAS Y SILLONES</a></h1>
            </div>
        </div>
        <div class="div-background-imagen">
            <div>
                <img src="/img/portada/home-decor2.jpeg" alt="mesa neolith negro marquina + sillas">
                <h1 id="home-decor"><a>HOME DECOR</a></h1>
            </div>
        </div>
        <div class="div-background-imagen">
            <div>
                <img src="/img/portada/muebles.jpg" alt="mesa neolith negro marquina + sillas">
                <h1 id="muebles"><a>MUEBLES</a></h1>
            </div>
        </div>
        <div class="div-background-imagen">
            <div>
                <img src="/img/portada/ceramica-y-marmol.jpg" alt="mesa neolith negro marquina + sillas">
                <h1 id="ceramica-y-marmol"><a>CERÁMICA Y MARMOL</a></h1>
            </div>
        </div>
        <h1 id="refleja-tu-estilo">REFLEJA TU ESTILO</h1>
        <hr id="linea-refleja-tu-estilo">
        <section class="flex-articulos" class="padding-articulos">
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA NEOLITH BETON.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Neolith Beton + Base Hierro</h2>
                <p>2,40mx1,10m</p>
                <p>$900.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA NEOLITH NERO.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Neolith Nero + Base Madera ¨Cuadros¨</h2>
                <p>2,50mx1,120m</p>
                <p>$975.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="/img/home decor/espejo.jpeg" alt="mesa neolith beton">
                <h2>Mesa Neolith Nero + Base Madera ¨Cuadros¨</h2>
                <p>2,50mx1,120m</p>
                <p>$975.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="/img/vajilla/taza.jpeg" alt="mesa neolith beton">
                <h2>Mesa Neolith Nero + Base Madera ¨Cuadros¨</h2>
                <p>2,50mx1,120m</p>
                <p>$975.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\DRESSOIRE GRANITO NEGRO BRASIL LEATHER.jpg"
                    alt="mesa neolith beton">
                <h2>Dressoire Granito Negro Brasil Leather + Base Madera</h2>
                <p>1,30mx0,50m</p>
                <p>$320.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\DRESSOIRE MARMOL NEGRO MARQUINA.jpg"
                    alt="mesa neolith beton">
                <h2>Dressoire Marmol Negro Marquina + Base Hierro </h2>
                <p>2mx0,60m</p>
                <p>$400.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA AUXILIAR MARMOL CARRARA.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Auxiliar Marmol Carrara + Base Hierro Dorado </h2>
                <p>0,70mx0,40m</p>
                <p>$240.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\mesas, dressoires, ratonas\Mesas, dressoires, ratonas\MESA AUXILIAR MARMOL CARRARA.jpg"
                    alt="mesa neolith beton">
                <h2>Mesa Auxiliar Marmol Carrara + Base Hierro Dorado </h2>
                <p>0,70mx0,40m</p>
                <p>$240.000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\COMBO SILLAS DELUXE.JPG" alt="mesa neolith beton">
                <h2>Sillas Deluxe</h2>
                <p>x6 Unidades</p>
                <p>$90,000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\SILLA MATERA BLANCA.jpg" alt="mesa neolith beton">
                <h2>Silla Matera Blanca</h2>
                <p>$45,000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\SILLA MATERA NEGRA.jpg" alt="mesa neolith beton">
                <h2>Silla Matera Negra</h2>
                <p>$45,000</p>
                <i class="fas fa-eye"></i>
            </article>
            <article>
                <img src="\img\sillas\SILLA MATERA NEGRA.jpg" alt="mesa neolith beton">
                <h2>Silla Matera Negra</h2>
                <p>$45,000</p>
                <i class="fas fa-eye"></i>
            </article>
        </section>
        <form action="/productDetail" method="get" id="mostrar-todos-los-productos" class="mostrar-todos-los-productos">
            <button type="submit" form="mostrar-todos-los-productos">VER TODOS LOS PRODUCTOS</button>
        </form>
    </main>

    <!-- footer -->

    <%- include('partials/footer') %>

</body>

</html>