<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras | Suquia Home</title>
    <link rel="stylesheet" href="../css/productCart.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <section class="encabezado-fueguitos-12-pagos">
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 12 pagos sin interés con Tarjeta de crédito</p>
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 20% descuento con Transferencia bancaria</p>
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 20% descuento con Transferencia bancaria</p>
            <i class="fas fa-fire-alt"></i>
        </section>
        <div id="posicionamiento-header">
            <form action="/home" method="get">
                <button id="lupita"><i class="fas fa-search"></i></button>
            </form>
            <section id="logo">
                <a href="/home"><img src="/img/logo-SuquiaHome.svg.svg" alt="logo-suquia-home"></a>
            </section>
            <div>
                <a href="/login" id="icono-login"><i class="far fa-user"></i></a>
            </div>
            <div>
                <a href="/productCart" class="iconos-blancos"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
        <nav class="barra-menu">
            <ul>
                <a href="/home">
                    <li>HOME</li>
                </a>
                <a href="/productDetail">
                    <li>PRODUCT DETAIL</li>
                </a>
                <a href="/productCart">
                    <li>PRODUCT CART</li>
                </a>
                <a href="/register">
                    <li>REGISTER</li>
                </a>
                <a href="/login">
                    <li>LOGIN</li>
                </a>
            </ul>
        </nav>
    </header>

    <main>

        <h2 class="titulo">Carrito de Compras</h2>
        <hr id="linea-titulo">
            <ul class="barraCarrito">
                <li class="itemCarro">Producto</li>
                <li class="itemCarro">Cantidad</li>
                <li class="itemCarro">Precio</li>
                <li class="itemCarro">Subtotal</li>
            </ul>


    <section>
        <ul class="producto-container">
            <li class="producto"><img src="/img/home decor/espejo.jpeg"  alt="Espejo redondo"> Espejo redondo</li>
            <li class="cantidad"> <form action="#">
                <select class="selector-cantidad" name="selector-cantidad" id="">
                    <option value="1">1</option>       
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select> 
            </form></li>
            <li class="precio"> $3.000</li>
            <li class="subtotal"> $3.000 <i class="fas fa-trash-alt"></i></li>
        </ul>
        <ul class="producto-container">
            <li class="producto"><img src="/img/sillas/SILLA MATERA BLANCA.jpg" alt="Silla matera">Silla matera</li>
            <li class="cantidad"> <form action="#">
                <select class="selector-cantidad" name="selector-cantidad" >
                    <option value="1">1</option>       
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select> 
            </form></li>
            <li class="precio"> $10.500</li>
            <li class="subtotal"> $13.500 <i class="fas fa-trash-alt"></i></li>
        </ul>
        <ul class="producto-container">
            <li class="producto"><img src="/img/vajilla/taza.jpeg" alt="Taza"> Taza</li>
            <li class="cantidad"> <form action="#">
                <select class="selector-cantidad" name="selector-cantidad">
                    <option value="1">1</option>       
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select> 
            </form>
        </li>
            <li class="precio"> $20.000</li>
            <li class="subtotal"> $33.500 <i class="fas fa-trash-alt"></i></li>
        </ul>


        <ul class="total-carrito">
            <li class="seguir-comprando"><a href="/home">Seguir Comprando</a></li>
            <li class="totalCompra">Total: $33.500</li>
        </ul>

        <div class="boton-compra">
        <button>Iniciar Compra </button>
        </div>

 
    </main>


    <footer>
        <div class="footer-flex">
            <a href="#">
                <h3>PREGUNTAS FRECUENTES</h3>
            </a>
            <a href="#">
                <h3>SOBRE NOSOTROS</h3>
            </a>
            <a href="#">
                <h3>CÓMO COMPRAR</h3>
            </a>
            <div id="find-us">
                <h3>FIND US</h3>
                <hr id="linea-findus">
                <p>DIRECCIÓN: Recta Martinolli 8568, Córdoba</p>
                <p>HORARIOS: Lunes a Viernes de 9 a 13 hs y de 15 a 19 hs. Sábados de 9 a 13 hs</p>
                <p>CONTACTO: info@suquiahome.com</p>
            </div>
            <section id="formulario-footer-flex">
                <h3> NEWSLETTER</h3>
                <P>DÉJANOS TU EMAIL PARA RECIBIR ALERTAS EXCLUSIVAS Y NOVEDADES</P>
                <form action="" method="post" id="fromulario-footer-flex-column">
                    <input type="text" name="nombre" title="Inserte su nombre y apellido"
                        placeholder="Nombre y Apellido" required>
                    <input type="email" name="E-mail" title="Inserte su e-mail" placeholder="E-mail" required>
                    <button type="submit">SUSCRIBIRSE</button>
                </form>
            </section>
        </div>
    </footer>
    
</body>
</html>