<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto | Suquia Home</title>
    <!-- Rutas de estilo y fuentes -->
    <link rel="stylesheet" href="../css/productDetail.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <section class="encabezado-fueguitos-12-pagos">
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 12 pagos sin interés con Tarjeta de crédito</p>
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 20% descuento con Transferencia bancaria</p>
            <i class="fas fa-fire-alt"></i>
            <p>Hasta 20% descuento con Transferencia bancaria</p>
            <i class="fas fa-fire-alt"></i>
        </section>
        <div id="posicionamiento-header">
            <form action="/home" method="get">
                <button id="lupita"><i class="fas fa-search"></i></button>
            </form>
            <section id="logo">
                <a href="/home"><img src="/img/logo-SuquiaHome.svg.svg" alt="logo-suquia-home"></a>
            </section>
            <div>
                <a href="/login" id="icono-login"><i class="far fa-user"></i></a>
            </div>
            <div>
                <a href="/productCart" class="iconos-blancos"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
        <nav class="barra-menu">
            <ul>
                <a href="/home">
                    <li>HOME</li>
                </a>
                <a href="/productDetail">
                    <li>PRODUCT DETAIL</li>
                </a>
                <a href="/productCart">
                    <li>PRODUCT CART</li>
                </a>
                <a href="/register">
                    <li>REGISTER</li>
                </a>
                <a href="/login">
                    <li>LOGIN</li>
                </a>
            </ul>
        </nav>
    </header>

    <main>
        <button>Volver</button>

        <h2>Nombre Producto</h2>

        <section class="fotoPrincipal">
        <img src="img/mesa.jfif" alt="FotoPrueba">
      
           
        
        <div  class="descripcion768">
            <h3> $Precio</h3>
            <h4> Algo de descripcion : </h4>
               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fugit ullam quam excepturi eos deserunt dolore doloribus vero, ipsum magnam harum. Quis vero dolore quas quod sed tempore alias hic? </p>
        </div>
        </section>

        <section class="fotoInf">
            <img src="img/mesa.jfif" alt="">
            <img src="img/mesa.jfif" alt="">
        </section>

  <section class="detalle">   
   <div class="precio">
    <h3>$Precio</h3>
   </div>

   <div class="unidades">
   <div class="stock">
    <form action="#">
        <select name="cantidad" id="cantidad">
            <option value="1">1</option>       
            <option value="2">2</option>
            <option value="3">3</option>
            
        </select> 
    </form>
   </div>

   <div class="carrito">
    <button> Agregar al carrito<i class="fas fa-shopping-cart"></i></button> 
   </div>
</div>

   <div class="caracteristicas">

    <h3>Características</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, incidunt magnam molestiae cum perferendis veritatis, sit, eius eaque laudantium facilis inventore sint nostrum placeat mollitia unde quidem pariatur ducimus ab deserunt hic soluta tempora accusamus! Sed ipsam harum beatae culpa recusandae molestias labore tempore, aperiam non dicta repellat, nesciunt neque!</p>
   </div>

</section>

    </main>

    <footer>
        <div class="footer-flex">
            <a href="#">
                <h3>PREGUNTAS FRECUENTES</h3>
            </a>
            <a href="#">
                <h3>SOBRE NOSOTROS</h3>
            </a>
            <a href="#">
                <h3>CÓMO COMPRAR</h3>
            </a>
            <div id="find-us">
                <h3>FIND US</h3>
                <hr id="linea-findus">
                <p>DIRECCIÓN: Recta Martinolli 8568, Córdoba</p>
                <p>HORARIOS: Lunes a Viernes de 9 a 13 hs y de 15 a 19 hs. Sábados de 9 a 13 hs</p>
                <p>CONTACTO: info@suquiahome.com</p>
            </div>
            <section id="formulario-footer-flex">
                <h3> NEWSLETTER</h3>
                <P>DÉJANOS TU EMAIL PARA RECIBIR ALERTAS EXCLUSIVAS Y NOVEDADES</P>
                <form action="" method="post" id="fromulario-footer-flex-column">
                    <input type="text" name="nombre" title="Inserte su nombre y apellido"
                        placeholder="Nombre y Apellido" required>
                    <input type="email" name="E-mail" title="Inserte su e-mail" placeholder="E-mail" required>
                    <button type="submit">SUSCRIBIRSE</button>
                </form>
            </section>
        </div>
    </footer>
    
</body>
</html>