<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Suquia Home</title>

<!-- Rutas de estilo y fuentes -->
    <link rel="stylesheet" href="../css/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    

    <header>

        <!-- Prueba de nav para correr el sv y pasar a las demas secciones -->
        <div class="cuotas-header">
            <p><i class="fas fa-fire"></i>Hasta 12 pagos sin interés con tarjetas de crédito<i class="fas fa-fire"></i>Hasta 20% con transferencia bancaria<i class="fas fa-fire"></i> </p>
        </div>
        <div class="logo">
            <img src="/img/logo-SuquiaHome.svg.svg" alt="logo-suquia-home"> 
        </div>

        <div class="burger-menu">
            <nav class="barra-menu">
                <ul>
                    <li class="item-menu"><a href="/">Home</a></li>
                    <li><a href="/productDetail.html">Detalle Producto</a></li>
                    <li><a href="/productCart.html">Carrito de Compras</a></li>
                    <li><a href="/register.html">Registro</a></li>
                    <li><a href="/login.html">Login</a></li>
                </ul>
            </nav>

        </div>  
    
    <i class="fas fa-bars iconoBurger"></i>

    </header>


</body>
</html>