
<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Produt Creation | Suquia Home',css: 'productCreation.css'}); %>



<body>

<!-- header -->

    <%- include('../partials/header') %>    

    <main>
        <div>
            <h2>PRODUCT CREATION</h2>
            <form class="form" action="/home" formmethod="post" >
                <input type="text" name="nombre" placeholder="Nombre" title="Inserte nombre del producto" required >
                
                <select name="categoria" id="categoria" class="categoria" placeholder="Categoría">
                    <option value="Categoría">Categoría </option>
                    <option value="interior">Interior</option>
                    <option value="exterior">Exterior</option>
                    <option value="baño">Bazar</option>
                    <option value="exterior">Sillas</option>
                    <option value="baño">Mesas</option>
                </select>

                <div class="imagen-producto">
                <label>Ingrese una imagen del producto</label>
                <input type="file" name="imagen" id="imagen" placeholder="Añadir imagen del producto" title="Agregar imagen del producto" required>
                </div>
                
                <input type="text" name="descripcion" placeholder="Descipción" title="Inserte una descripcion" required>
                <input type="text" name="color" placeholder="Color" title="Inserte el color" required>
                <input type="text" name="tamaño" placeholder="Tamaño" title="Indique tamaño del producto" required>
                <input type="text" name="precio" placeholder="Precio" title="Inserte precio" required>
                
                <button type="submit">CREAR PRODUCTO</button>
            </form>
        </div>
    </main>

<!-- footer -->

  <%- include('../partials/footer') %>

</body>

</html>