
<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Produt Creation | Suquia Home',css: 'productCreation.css'}); %>



<body>

<!-- header -->

    <%- include('../partials/header') %>    

    <main>
        <div>
            <h2>PRODUCT CREATION</h2>
            <form class="form" action="/product" method="POST" enctype="multipart/form-data">
                <input type="text" name="nombre" placeholder="Nombre" title="Inserte nombre del producto" required >
                
                <select name="categoria" id="categoria" class="categoria" placeholder="Categoría">
                    <option value="Categoría">Categoría </option>
                    <option value="1">Interior</option>
                    <option value="2">Exterior</option>
                    <option value="3">Bazar</option>
                    <option value="4">Sillas</option>
                    <option value="5">Mesas</option>
                </select>

                <div class="imagen-producto">
                <label for="imagen">Ingrese una imagen del producto</label>
                <input type="file" name="imagen" id="imagen" placeholder="Añadir imagen del producto" title="Agregar imagen del producto">
                </div>
                
                <input type="text" name="descripcion" placeholder="Descipción" title="Inserte una descripcion" required>
                
                <select name="colores" id="color" class="color" placeholder="Color">
                    <option value="Colores">Colores </option>
                    <option value="1">Negro</option>
                    <option value="2">Blanco</option>
                    <option value="3">Marron</option>
                    <option value="4">Azul</option>
                    <option value="5">Rojo</option>
                </select>
                <input type="number" name="precio" placeholder="Precio" title="Inserte precio" required>
                <input type="number" name="stock" placeholder="Stock" title="Inserte cantidad de stock" required>
                <input type="number" name="descuento" placeholder="Descuento" title="Inserte descuento" required>
                
                <button type="submit">CREAR PRODUCTO</button>
            </form>
        </div>
    </main>

<!-- footer -->

  <%- include('../partials/footer') %>

</body>

</html>