  <!-- head -->
  <%- include ('partials/head', {tituloWeb:'Product List | Suquia Home',css: 'productList.css'});%>

  <body>

    <!-- header -->
    
    <%- include('partials/header') %>

    <main>
        ALGO DE MAIN POR ACA
    </main>

     <!-- footer -->

     <%- include('partials/footer') %>

    </body>