<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Product Cart | Suquia Home',css: 'productCart.css'}); %>

<body>

    <!-- header -->

    <%- include('../partials/header') %>

    <main>

        <h2 class="titulo">Carrito de Compras</h2>
        <hr id="linea-titulo">
            <ul class="barraCarrito">
                <li class="itemCarro">Producto</li>
                <li class="itemCarro">Cantidad</li>
                <li class="itemCarro">Precio</li>
                <li class="itemCarro">Subtotal</li>
            </ul>


    <section>
        <ul class="producto-container">
            <li class="producto"><img src="/img/products/espejo.jpeg"  alt="Espejo redondo"> Espejo redondo</li>
            <li class="cantidad"> <form action="#">
                <select class="selector-cantidad" name="selector-cantidad" id="">
                    <option value="1">1</option>       
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select> 
            </form></li>
            <li class="precio"> $3.000</li>
            <li class="subtotal"> $3.000 <i class="fas fa-trash-alt"></i></li>
        </ul>
        <ul class="producto-container">
            <li class="producto"><img src="/img/products/SILLA MATERA BLANCA.jpg" alt="Silla matera">Silla matera</li>
            <li class="cantidad"> <form action="#">
                <select class="selector-cantidad" name="selector-cantidad" >
                    <option value="1">1</option>       
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select> 
            </form></li>
            <li class="precio"> $10.500</li>
            <li class="subtotal"> $13.500 <i class="fas fa-trash-alt"></i></li>
        </ul>
        <ul class="producto-container">
            <li class="producto"><img src="/img/products/taza.jpeg" alt="Taza"> Taza</li>
            <li class="cantidad"> <form action="#">
                <select class="selector-cantidad" name="selector-cantidad">
                    <option value="1">1</option>       
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select> 
            </form>
        </li>
            <li class="precio"> $20.000</li>
            <li class="subtotal"> $33.500 <i class="fas fa-trash-alt"></i></li>
        </ul>


        <ul class="total-carrito">
            <li class="seguir-comprando"><a href="/">Seguir Comprando</a></li>
            <li class="totalCompra">Total: $33.500</li>
        </ul>

        <div class="boton-compra">
        <button>Iniciar Compra </button>
        </div>

 
    </main>

<!-- footer -->

<%- include('../partials/footer') %>
    
</body>
</html>