<footer>
    <div class="footer-flex">
        <a href="#">
            <h3>PREGUNTAS FRECUENTES</h3>
        </a>
        <a href="#">
            <h3>SOBRE NOSOTROS</h3>
        </a>
        <a href="#">
            <h3>CÓMO COMPRAR</h3>
        </a>
        <div id="find-us">
            <h3>FIND US</h3>
            <hr id="linea-findus">
            <p>DIRECCIÓN: Recta Martinolli 8568, Córdoba</p>
            <p>HORARIOS: Lunes a Viernes de 9 a 13 hs y de 15 a 19 hs. Sábados de 9 a 13 hs</p>
            <p>CONTACTO: info@suquiahome.com</p>
        </div>
        <section id="formulario-footer-flex">
            <h3> NEWSLETTER</h3>
            <P>DÉJANOS TU EMAIL PARA RECIBIR ALERTAS EXCLUSIVAS Y NOVEDADES</P>
            <form action="" method="post" id="fromulario-footer-flex-column">
                <input type="text" name="nombre" title="Inserte su nombre y apellido"
                    placeholder="Nombre y Apellido" required>
                <input type="email" name="E-mail" title="Inserte su e-mail" placeholder="E-mail" required>
                <button type="submit">SUSCRIBIRSE</button>
            </form>
        </section>
    </div>
</footer>