<header>
    <section class="encabezado-fueguitos-12-pagos">
        <i class="fas fa-fire-alt"></i>
        <p>Hasta 12 pagos sin interés con Tarjeta de crédito</p>
        <i class="fas fa-fire-alt"></i>
        <p>Hasta 20% descuento con Transferencia bancaria</p>
        <i class="fas fa-fire-alt"></i>
        <p>Hasta 20% descuento con Transferencia bancaria</p>
        <i class="fas fa-fire-alt"></i>
    </section>
    <div id="posicionamiento-header">
        <form action="/" method="get">
            <button id="lupita"><i class="fas fa-search"></i></button>
        </form>
        <section id="logo">
            <a href="/"><img src="/img/logo-SuquiaHome.svg.svg" alt="logo-suquia-home"></a>
        </section>
        <div>
            <a href="/login" id="icono-login"><i class="far fa-user"></i></a>
        </div>
        <div>
            <a href="/productCart" class="iconos-blancos"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>
    <nav class="barra-menu">
        <ul>
            <a href="/">
                <li>HOME</li>
            </a>
            <a href="/productDetail">
                <li>PRODUCT DETAIL</li>
            </a>
            <a href="/productCart">
                <li>PRODUCT CART</li>
            </a>
            <a href="/productCreation">
                <li>PRODUCT CREATION</li>
            </a>
            <a href="/productEdition">
                <li>PRODUCT EDITION</li>
            </a>
            <a href="/register">
                <li>REGISTER</li>
            </a>
            <a href="/login">
                <li>LOGIN</li>
            </a>

        </ul>
    </nav>
</header>