<header>
    <section class="encabezado-fueguitos-12-pagos">
        <i class="fas fa-fire-alt"></i>
        <p>Hasta 12 pagos sin interés con Tarjeta de crédito</p>
        <i class="fas fa-fire-alt"></i>
        <p>Hasta 20% descuento con Transferencia bancaria</p>
        <i class="fas fa-fire-alt"></i>
        <p>Hasta 20% descuento con Transferencia bancaria</p>
        <i class="fas fa-fire-alt"></i>
    </section>
    <div id="posicionamiento-header">
        <form action="/" method="get">
            <button id="lupita"><i class="fas fa-search"></i></button>
        </form>
        <section id="logo">
            <a href="/"><img src="/img/logo-SuquiaHome.svg.svg" alt="logo-suquia-home"></a>
        </section>
        <div>
            <a href="/login" id="icono-login"><i class="far fa-user"></i></a>
        </div>
        <div>
            <a href="/productCart" class="iconos-blancos"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>

    <nav class="barra-menu">
        <div class="menuHamburguesa">
            <i class="fas fa-bars"></i>
            
            <ul>
                <a href="/">
                <li>HOME</li>
                </a>
                <a href="/product/productList">
                <li>PRODUCT LIST</li>
                </a>
                </a>
                <a href="/product/productDetail">
                <li>PRODUCT DETAIL</li>
                </a>
                <a href="/product/productCreation">
                <li>PRODUCT CREATION</li>
                </a>
                <a href="/product/productEdition">
                <li>PRODUCT EDITION</li>
                </a>
                <a href="/product/productCart">
                <li>PRODUCT CART</li>
                </a>
                <a href="/user/register">
                <li>REGISTER</li>
                </a>
                <a href="/user/login">
                <li>LOGIN</li>
                </a>
            </ul>
        </div>
    </nav>
</header>