
<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Login | Suquia Home',css: 'login.css'}); %>


<body>

    <!-- header -->

   <%- include('../partials/header') %>


    <main>
        <div>
            <h2>INGRESA A TU CUENTA</h2>
            <form class="form" action="profile" formmethod="POST" >
                <input type="email" name="e-mail" placeholder="Correo electrónico" title="Ingrese su e-mail" required>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger"><%= errors.email.msg  %></div>
                <% } %>
                <input type="password" name="contraseña" placeholder="Contraseña" title="Ingrese su contraseña" minlength="8"
                    maxlength="20" required>
                <div class="recordar">
                    <label>¿Desea recordar su email y contraseña en este sitio?</label>
                    <input  type="checkbox" name="recordar contraseña" id="recordarContraseña">
                </div>
                
                <a class="preguntasExtras" href="#">¿Olvidaste tu contraseña?</a>
                <a class="preguntasExtras" href="/user/register">¿Aún no tienes una cuenta?</a>
                <button type="submit">INGRESAR</button>
            </form>
        </div>
    </main>

<!-- footer -->

<%- include('../partials/footer') %>   

</body>
</html>