
<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Pofile | Suquia Home',css: 'profile.css'}); %>


<body>

    <!-- header -->

   <%- include('../partials/header') %>


    <main>
        <div>
            <h2>Perfil de ...</h2> <!-- Etiqueta con EJS -->
            <img src="/img/avatars/default-image.png" alt="imagenPerfil"> <!-- Etiqueta con EJS -->

            <h2>Email: email.prueba@gmail.com <!-- Etiqueta con EJS --></h2>
            <h2>Tipo de usuario: Administrador<!-- Etiqueta con EJS --></h2>
           
        </div>
    </main>

<!-- footer -->

<%- include('../partials/footer') %>   

</body>
</html>