

<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Registro | Suquia Home',css: 'register.css'}); %>



<body>

<!-- header -->

    <%- include('../partials/header') %>    

    <main>
        <div>
            <h2>CREA UNA CUENTA</h2>
            <form class="form" action="/home" formmethod="post" >
                <input type="text" name="nombre" placeholder="Nombre" title="Inserte su nombre" required >
                <input type="text" name="apellido" placeholder="Apellido" title="Inserte su apellido" required>
                <input type="email" name="e-mail" placeholder="Correo electrónico" title="Inserte su e-mail" required>
                <input type="tel" name="telefono" placeholder="Teléfono +549()" title="Indique su número de teléfono" required>
                <input type="password" name="contraseña" placeholder="Contraseña (8 a 20 caracteres)" title="Inserte lo que va a ser su próxima contraseña" minlength="8"
                    maxlength="20" required>
                <input type="password" name="confirmar contraseña" placeholder="Confirmar Contraseña" title="Debe ser igual a la contraseña anterior" required>
                <input type="file" name="fotoPerfil" id="fotoPerfil" placeholder="Foto de Perfil" tittle="Añada una foto de perfil si desea">
               
                <button type="submit">CREAR CUENTA</button>
            </form>
        </div>
    </main>

<!-- footer -->

  <%- include('../partials/footer') %>

</body>

</html>