
<!-- head -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Suquia Home</title>

<!-- Rutas de estilo y fuentes -->
    <link rel="stylesheet" href="../css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- header -->

   <%- include('../partials/header') %>


    <main>
        <div>
            <h2>INGRESA A TU CUENTA</h2>
            <form class="form" action="/home" formmethod="post" >
                <input type="email" name="e-mail" placeholder="Correo electrónico" title="Ingrese su e-mail" required>
                <input type="password" name="contraseña" placeholder="Contraseña" title="Ingrese su contraseña" minlength="8"
                    maxlength="20" required>
                <div class="recordar">
                    <label>¿Desea recordar su email y contraseña en este sitio?</label>
                    <input  type="checkbox" name="recordar contraseña" id="recordarContraseña">
                </div>
                
                <a class="preguntasExtras" href="#">¿Olvidaste tu contraseña?</a>
                <a class="preguntasExtras" href="/register">¿Aún no tienes una cuenta?</a>
                <button type="submit">INGRESAR</button>
            </form>
        </div>
    </main>

<!-- footer -->

<%- include('../partials/footer') %>   

</body>
</html>